.note {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f1f1f1;
  background-clip: border-box;
  border: 1px solid #e74a3b;
  border-radius: 8px;
  border-left: 10px solid #e74a3b;
  border-bottom-color: #e74a3b;
  padding: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #495057;
}
:not(pre) > code[class*="language-"] {
  padding: 0 2px;
}
span.anchor {
  display: block;
  height: 155px;
  margin-top: -155px;
  visibility: hidden;
}
.blog-content {
  text-align: justify;
}
.blog-content h3 {
  color: #6c757d;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  /*box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);*/
  text-shadow: -1px -1px 5px #dae0e5, 1px -1px 5px #dae0e5, -1px 1px 10px #dae0e5, 1px 1px 10px #dae0e5;
}
.blog-content .wrapper-content {
  padding-top: 20px;
}
.blog-content table th {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.blog-content img {
  max-width: 70%;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  padding: 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.blog-content img.wide {
  cursor: zoom-in;
}
.blog-content p + pre, .blog-content ul + pre {
  background: linear-gradient(45deg,#ddd,#d6c9c9);
  padding: 10px;
  max-width:90%;
  margin: 20px auto;
  border-radius: 10px;
}
.blog-content .code-toolbar {
  max-width: 800px;
  margin: 10px;
  margin-bottom: 30px;
  position: relative;
}
.blog-content .code-toolbar pre {
  max-height: 42vh;
  overflow-x: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
.blog-content .execute {
  font-size: .8em;
  padding: 5px 10px !important;
  transition: all ease 0.2s;
  position: absolute;
  top: 6px;
  right: 20px;
  transition: all 0.4s ease;
}
.blog-content .execute:hover {
  background: linear-gradient(-45deg, #86dbe9, #27857e);
}
.blog-content .navigate {
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 20px;
}
.blog-content .code-toolbar pre.language-javascript {
  overflow-x: auto;
}
.card-menu .card-anchor {
  padding: 10px 0;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #3db3c5, #274685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar-box {
  padding: 25px 5px;
  position: sticky;
  top: 80px;
}
.sidebar-box .card-body {
  padding: 10px;
  overflow-y: auto;
  max-height: 55vh;
}
.sidebar-box .hint {
  padding: 5px;
}
.sidebar-box .card-header {
  padding: 2px 20px;
}
.sidebar-box .card-anchor {
  padding: 10px 0;
  cursor: pointer;
  display: block;
}
.sidebar-box a.card-header:hover {
  text-decoration: none;
}
.sidebar-box ul:not(.lesson-menu) {
  list-style: none;
  padding: 0;
}
.sidebar-box ul:not(.lesson-menu) li {
  padding: 2px;
}