.blog-content {
  text-align: justify;
}
.blog-content p + pre, .blog-content ul + pre {
  background: linear-gradient(45deg,#ddd,#d6c9c9);
  padding: 10px;
  max-width:90%;
  margin: 20px auto;
  border-radius: 10px;
}
.blog-content img {
  max-width: 70%;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  padding: 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.blog-content img.wide {
  cursor: zoom-in;
}
.blog-content .code-toolbar {
  max-width: 800px;
  margin: 10px -20px;
  margin-bottom: 30px;
  position: relative;
}
.blog-content .execute {
  font-size: .8em;
  padding: 5px 10px !important;
  transition: all ease 0.2s;
  position: absolute;
  top: 6px;
  right: 20px;
  transition: all 0.4s ease;
}
.blog-content .execute:hover {
  background: linear-gradient(-45deg, #86dbe9, #27857e);
}
.blog-content .wrapper-content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
.note {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f1f1f1;
  background-clip: border-box;
  border: 1px solid #e74a3b;
  border-radius: 8px;
  border-left: 10px solid #e74a3b;
  border-bottom-color: #e74a3b;
  padding: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
.blog-content table th {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #495057;
}
:not(pre) > code[class*="language-"] {
  padding: 0 2px;
}
.blog-content .anchor {
  display: block;
  height: 130px;
  margin-top: -130px;
  visibility: hidden;
}

#accord [aria-expanded=false] span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  float: right;
  transition: all .5s;
}
#accord [aria-expanded=true] span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  float: right;
  transition: all .5s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-box {
  padding: 25px 5px;
  position: sticky;
  top: 80px;
}
.sidebar-box .card-body {
  padding: 10px;
  overflow-y: auto;
  max-height: 58vh;
}

.sidebar-box .hint {
  padding: 5px;
}

.sidebar-box .card-header {
  padding: 2px 20px;
}
.sidebar-box .card-anchor {
  padding: 10px 0;
  cursor: pointer;
  display: block;
}
.sidebar-box a.card-header:hover {
  text-decoration: none;
}

.sidebar-box ul {
  list-style: none;
  padding: 0;
}
.sidebar-box li {
  padding: 2px;
}
