@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/*===========  EXTERNAL DEMO ================*/
	.external-css {
		background: aqua;
		padding: 20px;
		font-family: verdana;
	}
	.external-css h1 {
		text-align: center;
	}
	.external-css a {
		text-decoration: none;
		background-color: #5F5F5F;
		color: white;
		text-align: center;
		display: block;
		padding: 10px 20px;
		border: 2px solid #5F5F5F;
	}
	.external-css a:hover {
		background-color: white;
		color: black;
		transition: ease 0.3s;
	}

  .judul { text-align: center; }
  .pertama, .kedua { padding: 10px; width: 400px; margin: 10px auto; }
  .pertama { background-color: lightblue; }
  .kedua { background-color: royalblue; color: white; }	

/*============= ANIMATE TUTORIAL ================*/
	.intro {
    padding: 5px;
    margin: 5px auto;
    min-width: 600px;
    height: 95vh;
    text-align: center;
	}
	.intro h1 { margin: 0; }
	.intro h1{ font-size: 3em; letter-spacing: 3px; font-family: Stencil, Fantasy; }
	.intro h2 { font-size: 1.5em; letter-spacing: 2px; font-family: 'Fredoka One', cursive; }
	.intro h1, .intro h2 {
		text-align: center;
		text-shadow: 
		-1px -1px 0 #CCCeee,
		1px -1px 0 #CCCeee, 
		-1px 1px 0 #CCCeee, 
		1px 1px 0 #CCCeee;  
	}
	.intro img {
		display: block;
		margin: 0 auto;
		width: 300px;
	}
	.intro p {
	  margin-top: 20px;
	  color: #808080;
	  font-family: 'Fredoka One', cursive;
	  font-size: 18px;
	}


	.text-focus-in {
		-webkit-animation: text-focus-in 1s ease-in-out 0.5s both;
		animation: text-focus-in 1s ease-in-out 0.5s both;
	}

	@-webkit-keyframes text-focus-in {
		0% {
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-filter: blur(0px);
			filter: blur(0px);
			opacity: 1;
		}
	}
	@keyframes text-focus-in {
		0% {
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-filter: blur(0px);
			filter: blur(0px);
			opacity: 1;
		}
	}


	.bounce-in-top {
		-webkit-animation: bounce-in-top 1.5s 1.5s both;
		animation: bounce-in-top 1.5s 1.5s both;
	}

	@-webkit-keyframes bounce-in-top {
		0% {
			-webkit-transform: translateY(-500px);
			transform: translateY(-500px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
			opacity: 0;
		}

		38% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
			opacity: 1;
		}

		55% {
			-webkit-transform: translateY(-65px);
			transform: translateY(-65px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		72% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		81% {
			-webkit-transform: translateY(-28px);
			transform: translateY(-28px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		90% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		95% {
			-webkit-transform: translateY(-8px);
			transform: translateY(-8px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}
	}

	@keyframes bounce-in-top {
		0% {
			-webkit-transform: translateY(-500px);
			transform: translateY(-500px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
			opacity: 0;
		}

		38% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
			opacity: 1;
		}

		55% {
			-webkit-transform: translateY(-65px);
			transform: translateY(-65px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		72% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		81% {
			-webkit-transform: translateY(-28px);
			transform: translateY(-28px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		90% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		95% {
			-webkit-transform: translateY(-8px);
			transform: translateY(-8px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}
	}
