	@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
	@import url('https://fonts.googleapis.com/css?family=Rubik');

	/*===================================================*/
	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: Rubik, Sans-serif;
	}

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background-image: linear-gradient(#FFF, #808080);
	}

	::-webkit-scrollbar-thumb {
		background: #403939;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	a:hover,
	button:hover {
		text-decoration: none;
		transition: 0.4s ease;
		cursor: pointer;
	}

	a:focus {
		text-decoration: none !important;
		outline: none !important;
		/*color: inherit;*/
	}

	a:active {
		text-decoration: none !important;
	}

	a:visited {
		text-decoration: none !important;
	}

	a.base-link {
		display: inline-block;
		color: #3c8dbc;
	}

	a.base-link:hover {
		color: lightblue;
		text-shadow: -1px -1px 0 royalblue, 1px -1px 0 royalblue, -1px 1px 0 royalblue, 1px 1px 0 royalblue;
	}

	a.base-link::after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: royalblue;
		transition: width .3s;
	}

	a.base-link:hover::after {
		width: 100%;
	}

	button:active,
	button:focus {
		outline: none !important;
	}

	select:focus,
	select:active,
	textarea:active,
	textarea:focus,
	input:focus {
		outline: none !important;
	}

	[readonly] {
		pointer-events: none;
	}

	/*=================== tooltip =======================*/
	.tip+.tooltip .tooltip-inner {
		background: #f1f1f1;
		color: #808080;
		padding: 5px;
		font-size: 14px;
		border: 2px solid gray;
		font-family: 'Rubik', Sans-serif;
		min-width: 125px;
	}

	.tip+.tooltip.bottom .tooltip-arrow {
		border-bottom: 5px solid gray;
	}

	.mytooltip {
		border-radius: 5px !important;
		background-color: #f1f1f1;
		color: #808080 !important;
		padding: 5px;
		margin: 50px;
		text-align: center;
		font-size: 14px;
		border: 2px solid gray !important;
		min-width: 125px;
		max-width: 400px;
		font-family: Rubik, Sans-serif;
	}

	.mytooltip:hover:after {
		background: #f1f1f1;
		bottom: 26px;
		color: #808080;
		content: attr(title);
		right: 20%;
		padding: 5px;
		position: absolute;
		z-index: 888;
	}

	.mytooltip:hover:before {
		bottom: 10px;
		content: "";
		right: 50%;
		position: absolute;
		z-index: 999;
	}


	/*=================== bootstrap =====================*/
	.modal-content {
		border-radius: 5px !important;
		border: 3px solid gray;
		background: #f1f1f1;
	}

	.modal-body {
		margin-top: 0px !important;
	}

	.btn {
		border-radius: 0px;
	}

	/*=================== sweet alert ===================*/
	.swal2-popup .swal2-header {
		background-image: linear-gradient(#ccc, #fff);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.header-swal {
		text-transform: uppercase !important;
		letter-spacing: 10px;
		font-size: 2em;
		margin-bottom: -20px;
	}

	.header-swal small {
		color: inherit;
		letter-spacing: inherit;
	}

	.info-swal {
		font-family: 'Fredoka One', cursive;
		font-weight: lighter;
		text-transform: lowercase !important;
		background-image: linear-gradient(#fff, #ccc);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		margin-top: -10px;
		padding-bottom: 30px;
	}

	.img-swal {
		width: 150px;
		height: 150px;
		margin: 0 auto;
		padding: 20px;
	}

	.message-swal {
		color: inherit;
		font-family: 'Rubik', Sans-serif;
		font-weight: bold;
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;
		text-transform: lowercase !important;
		line-height: 1.5;
		background-image: linear-gradient(#ccc, #fff);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.header-swal.danger,
	.info-swal.danger {
		text-shadow: -1px -1px 0 #CF5F5F, 1px -1px 0 #CF5F5F, -1px 1px 0 #CF5F5F, 1px 1px 0 #CF5F5F;
		color: #eee;
	}

	.header-swal.success,
	.info-swal.success {
		text-shadow: -1px -1px 0 #449D44, 1px -1px 0 #449D44, -1px 1px 0 #449D44, 1px 1px 0 #449D44;
		color: #eee;
	}

	.swal2-container .button {
		min-width: 120px;
	}

	.swal2-container .button:hover {
		text-shadow: none !important;
	}

	.swal2-popup {
		font-size: 1.5rem !important;
	}

	#swal2-content a:focus {
		color: #ccc;
	}

	/*=================== loader ========================*/
	.preloader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background-color: rgba(255, 255, 255, 0.9);
	}

	.preloader h3 {
		color: #808080;
		letter-spacing: 3px;
	}

	.loading {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: 'Fredoka One', sans-serif;
	}

	/*=================== haha ==========================*/
	h1,
	h2 {
		text-align: center;
		font-family: 'Fredoka One', cursive
	}

	.fred {
		font-family: 'Fredoka One', cursive;
	}

	.center {
		text-align: center;
	}

	.box-sh {
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	}

	.text-sh {
		text-shadow: 1px 1px 1px #fff, 0 0 5px gray, 0 0 5px lightblue;
	}

	/*=================== INPUT */
	.input-adjust {
		margin: 3px;
		padding: 10px 15px;
		border: 2px solid #808080;
		border-radius: 5px;
		background: #eee;
		font-family: 'Font Awesome 5 Free', 'Rubik', sans-serif;
		font-weight: bold;
		transition: width 0.3s;
		width: 100%;
	}

	.input-adjust::placeholder {
		color: #808080;
	}

	.input-adjust:focus {
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	}

	.input-text {
		display: block;
		border: 2px solid #fff;
		border-radius: 30px;
		padding: 15px 20px;
		width: 98%;
		font-size: 16px;
		font-weight: bold;
		margin: 5px auto;
		color: #fff;
		letter-spacing: 1px;
		background: transparent;
	}

	.input-text::placeholder {
		color: #f1f1f1;
		text-shadow: none;
		font-size: 16px;
	}

	.input-text:focus {
		color: #fff;
		transition: ease-out 0.4s;
		outline: none;
	}

	.checkin+label {
		display: inline-block;
		font-size: 0.9em;
		margin: 3px;
		cursor: pointer;
		padding: 1px;
		letter-spacing: 2px;
		font-family: Rubik, sans-serif;
	}

	.checkin {
		display: none;
	}

	.checkin+label:before {
		content: "\2714";
		border: 2px solid #5F5F5F;
		border-radius: 2px;
		display: inline-block;
		width: 25px;
		height: 25px;
		padding-left: 4px;
		padding-bottom: 15px;
		margin-right: 5px;
		vertical-align: bottom;
		color: transparent;
		transition: .2s;
	}

	.checkin+label:active:before {
		transform: scale(0);
	}

	.checkin:checked+label:before {
		background-color: green;
		border-color: green;
		color: #fff;
	}

	.checkin:disabled+label:before {
		transform: scale(1);
		border-color: #aaaaaa47;
	}

	.checkin:checked:disabled+label:before {
		transform: scale(1);
		background-color: transparent;
		border-color: transparent;
	}

/*=================== button ========================*/
	.button {
		margin: 5px;
		padding: 10px;
		border: 2px solid #ccc;
		border-radius: 30px;
		letter-spacing: 2px;
		font-family: 'Fredoka One', cursive;
		transition: ease-out 0.4s;
		display: inline-block;
		cursor: pointer;
	}

	.button:hover {
		border-color: transparent;
		color: white;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	}

	.btn-ok {
		background-color: white;
		border: 2px solid #449D44;
	}

	.btn-ok:hover {
		background-color: #449D44;
		color: white;
	}

	.btn-no {
		background-color: white;
		border: 2px solid #d1332e;
	}

	.btn-no:hover {
		background-color: #d1332e;
		color: white;
	}

	.btn-warn {
		background-color: white;
		border: 2px solid #f79e11;
	}

	.btn-warn:hover {
		background-color: #f79e11;
		color: white;
	}

	.btn-def {
		background-color: white;
		border: 2px solid #808080;
	}

	.btn-def:hover {
		background-color: #808080;
		color: white;
	}

	.btn-def.act {
		background-color: #808080;
		color: white;
	}

	.btn-prm {
		background-color: white;
		border: 2px solid #3980be;
	}

	.btn-prm:hover {
		background-color: #3980be;
		color: white;
	}

	.btn-html {
		background-color: white;
		border: 2px solid #E44D26;
	}

	.btn-html:hover {
		background-color: #E44D26;
		color: white;
	}

	.btn-css {
		background-color: white;
		border: 2px solid #264DE4;
	}

	.btn-css:hover {
		background-color: #264DE4;
		color: white;
	}


	.btn-js {
		background-color: white;
		border: 2px solid #F3BE30;
	}

	.btn-js:hover {
		background-color: #F3BE30;
		color: white;
	}


	.effect {
		font-family: 'Fredoka One', cursive;
		border-radius: 30px;
		display: inline-block;
		position: relative;
		color: #ccc;
		border: 3px solid #ccc;
		cursor: pointer;
		margin: 5px;
		background: rgba(0, 0, 0, 0.5);
		min-width: 125px;
		transition: 0.4s linear;
		text-align: center;
	}

	.effect span {
		display: block;
		padding: 7px;
	}

	.effect::before,
	.effect::after {
		content: "";
		width: 3px;
		height: 0px;
		position: absolute;
		transition: all 0.2s linear;
		background: #ccc;
	}

	.effect span::before,
	.effect span::after {
		content: "";
		width: 3px;
		height: 0;
		position: absolute;
		transition: all 0.2s linear;
		background: #ccc;
	}

	.effect:hover {
		border-color: transparent;
		background: transparent;
		color: #ccc;
		box-shadow: none;
		text-shadow: -1px -1px 0 royalblue, 1px -1px 0 royalblue, -1px 1px 0 royalblue, 1px 1px 0 royalblue;
		border-radius: 0;
	}

	.effect:hover::before,
	.effect:hover::after {
		height: 3px;
		width: 100%;
	}

	.effect::before {
		left: 50%;
		top: 0;
		transition-duration: 0.4s;
	}

	.effect::after {
		left: 50%;
		bottom: 0;
		transition-duration: 0.4s;
	}

	.effect span::before {
		left: 0;
		top: 50%;
		transition-duration: 0.4s;
	}

	.effect span::after {
		right: 0;
		top: 50%;
		transition-duration: 0.4s;
	}

	.effect:hover::before,
	.effect:hover::after {
		left: 0px;
	}

	.effect:hover span::before,
	.effect:hover span::after {
		top: 0px;
	}

	.effect.effect-html::before,
	.effect.effect-html::after {
		background: #E44D26;
	}

	.effect.effect-css::before,
	.effect.effect-css::after {
		background: #264DE4;
	}

	.effect.effect-js::before,
	.effect.effect-js::after {
		background: #F3BE30;
	}

	.effect.effect-ok::before,
	.effect.effect-ok::after {
		background: #449D44;
	}

	.effect.effect-no::before,
	.effect.effect-no::after {
		background: #d1332e;
	}

	.effect.effect-warn::before,
	.effect.effect-warn::after {
		background: #c3911d;
	}

	.effect.effect-prm::before,
	.effect.effect-prm::after {
		background: #3535d3;
	}

	.effect.effect-info::before,
	.effect.effect-info::after {
		background: #76c0ec;
	}


	.ef-sm {
		min-width: 75px;
	}

	/*=================== ARROW BOX =====================*/
	.arrow_box {
		position: relative;
		background: #f1f1f1;
		border: 5px solid #808080;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
		max-width: 922px;
		padding: 20px;
		display: block;
		margin: 5px auto;
	}

	.arrow_box.round {
		border-radius: 40%;
		background: #fff;
		display: inline-block;
	}

	.arrow_left:after,
	.arrow_left:before {
		left: 20%;
	}

	.arrow_mid:after,
	.arrow_mid:before {
		left: 50%;
	}

	.arrow_right:after,
	.arrow_right:before {
		left: 80%;
	}

	.arrow_box:after,
	.arrow_box:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		background: initial;
		pointer-events: none;
	}

	.arrow_box:after {
		border-color: rgba(241, 241, 241, 0);
		border-bottom-color: #f1f1f1;
		border-width: 20px;
		margin-left: -18px;
	}

	.arrow_box:before {
		border-color: rgba(245, 245, 245, 0);
		border-bottom-color: #808080;
		border-width: 27px;
		margin-left: -25px;
	}

	/*=================== main navbar ========================*/
/*	.main-navabar .nav .open>a,
	.main-navabar .nav .open>a:focus,
	.main-navabar .nav .open>a:hover {
		background-color: transparent;
		border-color: transparent;
	}

	.main-navabar .nav>li>a:focus,
	.main-navabar .navbar-nav>li>a:hover,
	.main-navabar .navbar-nav>li>a:active {
		background: transparent;
		outline: none;
	}

	.user-name {
		text-transform: capitalize;
	}

	.main-navabar.navbar {
		border-radius: 0px !important;
		background: transparent;
		margin-bottom: 0;
		border: none;
	}

	.main-navabar .btn-collapse {
		border-radius: 30px;
		color: #ccc;
		border: 3px solid #ccc;
		cursor: pointer;
		margin: 5px;
		padding: 7px;
		background: rgba(0, 0, 0, 0.5);
		min-width: 75px;
		text-align: center;
	}

	.main-navabar .dropdown-menu {
		background-color: transparent;
	}

	.main-navabar .dropdown-menu>li>a {
		color: #ccc;
	}

	.main-navabar .dropdown-menu>li>a:hover {
		color: #ccc;
		background-color: transparent;
	}

	.main-navabar .collapse.in {
		background: rgba(50, 50, 50, 0.8);
	}

	@media (min-width: 768px) {

		.main-navabar .navbar-nav>li>a,
		.navbar-right>li>a {
			padding-top: 7px;
			padding-bottom: 7px;
			line-height: inherit;
		}

		.main-navabar .fixout {
			min-width: 75px !important;
		}
	}

	@media (max-width: 768px) {
		.main-navabar .fix {
			min-width: 75px !important;
		}

		.main-navabar .navbar-nav {
			margin: 0px auto;
			text-align: center;
			width: 70%;
		}

		.main-navabar a i.visible-xs,
		.main-navabar a b.visible-xs {
			display: inline-block !important;
		}

	}*/

	/*=================== jello-horizontal ==================*/
	.jello-horizontal {
		-webkit-animation: jello-horizontal 0.9s both;
		animation: jello-horizontal 0.9s both;
	}

	@-webkit-keyframes jello-horizontal {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}

		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}

		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}

		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}

		65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}

		75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}

		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}

	@keyframes jello-horizontal {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}

		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}

		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}

		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}

		65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}

		75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}

		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}

	/*=================== text-focus-in =====================*/
	.text-focus-in {
		-webkit-animation: text-focus-in 1s ease-in-out 0.5s both;
		animation: text-focus-in 1s ease-in-out 0.5s both;
	}

	@-webkit-keyframes text-focus-in {
		0% {
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-filter: blur(0px);
			filter: blur(0px);
			opacity: 1;
		}
	}

	@keyframes text-focus-in {
		0% {
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-filter: blur(0px);
			filter: blur(0px);
			opacity: 1;
		}
	}

	/*=================== bounce-in-top =====================*/
	.bounce-in-top {
		-webkit-animation: bounce-in-top 1.5s 1.5s both;
		animation: bounce-in-top 1.5s 1.5s both;
	}

	@-webkit-keyframes bounce-in-top {
		0% {
			-webkit-transform: translateY(-500px);
			transform: translateY(-500px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
			opacity: 0;
		}

		38% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
			opacity: 1;
		}

		55% {
			-webkit-transform: translateY(-65px);
			transform: translateY(-65px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		72% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		81% {
			-webkit-transform: translateY(-28px);
			transform: translateY(-28px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		90% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		95% {
			-webkit-transform: translateY(-8px);
			transform: translateY(-8px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}
	}

	@keyframes bounce-in-top {
		0% {
			-webkit-transform: translateY(-500px);
			transform: translateY(-500px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
			opacity: 0;
		}

		38% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
			opacity: 1;
		}

		55% {
			-webkit-transform: translateY(-65px);
			transform: translateY(-65px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		72% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		81% {
			-webkit-transform: translateY(-28px);
			transform: translateY(-28px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		90% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		95% {
			-webkit-transform: translateY(-8px);
			transform: translateY(-8px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}
	}

	/*=================== slide-out =========================*/
	.slide-out {
		-webkit-animation: slide-out 800ms ease-in-out both;
		animation: slide-out 800ms ease-in-out both;
		z-index: 0;
	}

	@-webkit-keyframes slide-out {
		0% {
			-webkit-transform: translateX(0) scaleY(1) scaleX(1);
			transform: translateX(0) scaleY(1) scaleX(1);
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
			transform: translateX(1000px) scaleX(2) scaleY(0.2);
			-webkit-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
			-webkit-filter: blur(40px);
			filter: blur(40px);
			opacity: 0;
		}
	}

	@keyframes slide-out {
		0% {
			-webkit-transform: translateX(0) scaleY(1) scaleX(1);
			transform: translateX(0) scaleY(1) scaleX(1);
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
			transform: translateX(1000px) scaleX(2) scaleY(0.2);
			-webkit-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
			-webkit-filter: blur(40px);
			filter: blur(40px);
			opacity: 0;
		}
	}

	/*=================== slide-in ==========================*/
	.slide-in {
		-webkit-animation: slide-in 800ms ease-in-out reverse both;
		animation: slide-in 800ms ease-in-out reverse both;
		z-index: 1200;
	}

	@-webkit-keyframes slide-in {
		0% {
			-webkit-transform: translateX(0) scaleY(1) scaleX(1);
			transform: translateX(0) scaleY(1) scaleX(1);
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
			transform: translateX(1000px) scaleX(2) scaleY(0.2);
			-webkit-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
			-webkit-filter: blur(40px);
			filter: blur(40px);
			opacity: 0;
		}
	}

	@keyframes slide-in {
		0% {
			-webkit-transform: translateX(0) scaleY(1) scaleX(1);
			transform: translateX(0) scaleY(1) scaleX(1);
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-filter: blur(0);
			filter: blur(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
			transform: translateX(1000px) scaleX(2) scaleY(0.2);
			-webkit-transform-origin: 0% 50%;
			transform-origin: 0% 50%;
			-webkit-filter: blur(40px);
			filter: blur(40px);
			opacity: 0;
		}
	}

/*=================== slide-out-left ====================*/
	.slide-out-left {
		-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
		animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	}

	@-webkit-keyframes slide-out-left {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(-1000px);
			transform: translateX(-1000px);
			opacity: 0;
		}
	}

	@keyframes slide-out-left {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(-1000px);
			transform: translateX(-1000px);
			opacity: 0;
		}
	}

/*=================== slide-in-left ====================*/
	.slide-in-left {
		-webkit-animation: slide-in-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
		animation: slide-in-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
	}

	@-webkit-keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(-1000px);
			transform: translateX(-1000px);
			opacity: 0;
		}
	}

	@keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: translateX(-1000px);
			transform: translateX(-1000px);
			opacity: 0;
		}
	}

/*=================== jello-vertical ====================*/
	.jello-vertical {
		-webkit-animation: jello-vertical 1.2s linear infinite;
		animation: jello-vertical 1.2s linear infinite;
	}

	@-webkit-keyframes jello-vertical {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}

		30% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}

		40% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}

		50% {
			-webkit-transform: scale3d(0.85, 1.15, 1);
			transform: scale3d(0.85, 1.15, 1);
		}

		65% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}

		75% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}

		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}

	@keyframes jello-vertical {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}

		30% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}

		40% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}

		50% {
			-webkit-transform: scale3d(0.85, 1.15, 1);
			transform: scale3d(0.85, 1.15, 1);
		}

		65% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}

		75% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}

		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}

/*=================== ping ==============================*/
	.ping {
		-webkit-animation: ping 1.8s ease-in-out infinite both;
		animation: ping 1.8s ease-in-out infinite both;
	}

	@-webkit-keyframes ping {
		0% {
			-webkit-transform: scale(0.2);
			transform: scale(0.2);
			opacity: 0.8;
		}

		80% {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			opacity: 0;
		}

		100% {
			-webkit-transform: scale(2.2);
			transform: scale(2.2);
			opacity: 0;
		}
	}

	@keyframes ping {
		0% {
			-webkit-transform: scale(0.2);
			transform: scale(0.2);
			opacity: 0.8;
		}

		80% {
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			opacity: 0;
		}

		100% {
			-webkit-transform: scale(2.2);
			transform: scale(2.2);
			opacity: 0;
		}
	}

/*=================== scale-in-center ===================*/
	.scale-in-center {
		-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	@-webkit-keyframes scale-in-center {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
	}

	@keyframes scale-in-center {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
			opacity: 1;
		}

		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
	}
