.note {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f1f1f1;
  background-clip: border-box;
  border: 1px solid #e74a3b;
  border-radius: 8px;
  border-left: 10px solid #e74a3b;
  border-bottom-color: #e74a3b;
  padding: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

span.anchor {
  display: block;
  height: 155px;
  margin-top: -155px;
  visibility: hidden;
}
.blog-content {
  font-size: 1.2rem;
}
.blog-content h3 {
  color: #6c757d;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  text-shadow: -1px -1px 5px #dae0e5, 1px -1px 5px #dae0e5, -1px 1px 10px #dae0e5, 1px 1px 10px #dae0e5;
}
.blog-content .wrapper-content {
  padding-top: 20px;
}
.blog-content img {
  max-width: 70%;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  padding: 5px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.blog-content img.wide {
  cursor: zoom-in;
}
.blog-content p + pre, .blog-content ul + pre {
  background: linear-gradient(45deg,#ddd,#d6c9c9);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  padding: 10px;
  max-width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px solid;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.blog-content .code-toolbar {
  max-width: 800px;
  padding: 20px 5px;
  background: #80808094;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
.blog-content .code-toolbar .toolbar {
  text-align: center;
}
.blog-content .code-toolbar .btn {
  margin-right: 2px;
}
.blog-content .code-toolbar pre {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  font-size: 16px;
  max-height: 60vh;
  overflow-x: auto;
  border-radius: 0;
}
.blog-content .code-toolbar pre:not(.line-numbers) {
  /*overflow-x: auto;*/
}

:not(pre) > code[class*="language-"] {
  padding: 0 2px;
}

.blog-content .navigate {
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 20px;
}

.sidebar-box {
  padding: 25px 5px;
  position: sticky;
  top: 80px;
}
.sidebar-box .card-body {
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
}
.sidebar-box .hint {
  padding: 5px;
}
.sidebar-box .card-header {
  padding: 2px 20px;
}
.sidebar-box .card-anchor {
  padding: 10px 0;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #3db3c5, #274685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar-box .btn, .blog-content .btn {
  padding: 10px 30px !important;
}
.sidebar-box a.card-header:hover {
  text-decoration: none;
}
.sidebar-box ul {
  list-style: none;
  padding: 0;
}
.sidebar-box ul:not(.lesson-menu) li {
  padding: 2px;
}
.sidebar-box li a {
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}