.hero-section .iphone-wrap img {
  position: absolute;
  overflow: hidden;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.hero-section .iphone-wrap img.one {
  top: -140%;
  left: -10%;
}
.hero-section .iphone-wrap img.two {
  top: -80%;
  left: 30%;
}
.hero-section .iphone-wrap img.three {
  top: -20%;
  left: -20%;
}

.section-heading.section-low {
  font-size: 1.7rem !important;
}
.search-result span.highlight {
  color: crimson;
  background: gold;
}
.search-result .label {
  position: absolute;
  top: -15px;
  right: 5px;
  display: inline-block;
  background: gainsboro;
  padding: 1px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #878080;
  text-align: center;
  min-width: 120px;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}


a.link {
  display: inline-block;
  color: #3c8dbc;
}
a.link:hover {
  text-decoration: none;
  color: lightblue;
}
a.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #98a0b8;
  transition: width .3s;
}
a.link:hover::after {
  width: 100%;
}
a.link.active {
  color: #000;
}
a.link.active::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #98a0b8;
  width: 100%;
}

/*================ external quiz*/
  h6.a {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }
  .form-control.input-error { color: #dc3545 !important; }
  span.anch {
    display: block;
    height: 85px;
    margin-top: -85px;
    visibility: hidden;
  }
  .card-header > a {
    display: block;
    cursor: pointer;
  }
  .quiz-intro img {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  .quiz-intro .btn-default {
    width: 200px;
  }
  .quiz-intro .btn-default span {
    font-size: 2rem;
  }
  /*.quiz-board table tr td:last-child {
    text-align: right;
  }*/
  .quiz-board table tr td:first-child,
  .quiz-board table tr th:first-child {
  width: 100px;
  }
  .quiz-board table tr td:first-child,
  .quiz-board table tr td:nth-child(3),
  .quiz-board table tr td:nth-child(4),
  .quiz-board table tr td:nth-child(5) {
    text-align: center;
    white-space: nowrap;
  }
  /*.quiz-board table tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
  }
  .quiz-board table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }*/
  .quiz-board table.table {
    border: 3px solid #9E9E9E;
    color: inherit;
  }
  .quiz-board tbody {
    font-family: fantasy;
    /*display:block;*/
    /*max-height: 55vh;*/
    /*overflow:auto;*/
  }
  .quiz-board thead, tbody tr {
    /*display:table;*/
    /*width:100%;*/
    /*table-layout:fixed;*/
  }
  .quiz-board thead th {
    color: #fff;
    background: linear-gradient(180deg, #17a2b8, #0062cc);
  }
  .quiz-board .tab-content {
    min-height: 66vh;
  }

  .quiz-content p {
    margin-bottom: 0;
  }
  .quiz-content .fluid-section {
    /*padding: 50px 0;*/
  }
  .quiz-content .valid-user {
    font-size: 1.2rem;
  }
  .quiz-content .setup,
  .quiz-content .squence,
  .quiz-content .finish {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.5);
    background: #fff;
    border-radius: 5px;
  }
  .quiz-content .setup .groups,
  .quiz-content .squence .groups {
    margin: 30px auto;
  }
  .quiz-content .setup > .row,
  .quiz-content .squence > .row,
  .quiz-content .finish > .row {
    min-height: 78vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .side-setup {
    border-left: 1px solid;
    height: 100%;
  }
  .quiz-content .setup .card-body > img,
  .quiz-content .squence .card-body > img,
  .quiz-content .finish .card-body > img {
    display: block;
    margin: 10px auto;
    width: 150px;
  }

  .quiz-content .btn {
    min-width: 150px;
  }
  .quiz-content td h5 {
    margin: 0;
  }
  .quiz-content .btn-panel {
    position: sticky;
    top: 85px;
    padding-top: 10px;
    background: #fff;
    z-index: 100;
    border-radius: 0;
  }

  .quiz-content .wrapper-quest {
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%);
  }


  .quiz-content .question {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #fff;
  }
  .quiz-content .answer {
    padding: 10px;
  }

  .quiz-content .answer .wrap {
    height: 60px;
  }

  .quiz-content .answer label,
  .quiz-content .answer input {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
  }

  .quiz-content .answer input[type="radio"] {
    opacity: 0.01;
    z-index: 88;
  }

  .quiz-content .answer input[type="radio"]:checked+label {
    background: linear-gradient(180deg, #17a2b8, #0062cc);
    color: white;
    border: 2px solid #6c757d;
  }

  .quiz-content .answer label {
    padding: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
    margin: 0;
    background: #fff;
    border-radius: 5px;
    transition: background .4s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 18px;
    text-align: left;
  }

  .quiz-content .answer label:hover {
    background: #DDD;
  }
  .quiz-content .time-progress {
    width: 100%;
    height: 15px;
    background-color: #0A5F44;
  }

  .quiz-content .time-progress > div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    width: 0;
    background-color: #CBEA00;
    box-sizing: border-box;
  }

/*================ external menu */

  .back-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .back-link:hover {
    text-decoration: none !important;
    opacity: 0.7;
    transition: opacity .4s ease;
  }
  .feature-1 {
    text-align: center;
    padding: 10px;
  }
  .site-section {
    min-height: 90vh;
  }

/*==========================================*/
  @media screen and (max-width: 992px){
    .btn-panel {
      top: 65px !important;
    }
    .sign .midd {
      padding: 25px 10px !important;
    }
    .img-index {
      margin: 10px auto;
    }
    .hero-section .wave {
      /*bottom: -200px;*/
    }
    .hero-section .iphone-wrap .phone-1 {
      /*width: auto;*/
      /*margin: 10px auto;*/
    }
  }
  @media screen and (max-width: 768px){
    .post-entry > .post-title {
      top: 15%;
    }
  }  