.alert-auto {
  display: none;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 999999;
  margin: 0;
  padding: .75rem 1.25rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 5px 20px rgba(0,0,0,0.8);
}
.alert-auto.alert-success {
  border: 2px solid #0f6848;
}
.alert-auto.alert-danger {
  border: 2px solid #78261f;
}
.mytooltip {
  border-radius: 5px !important;
  background-color: #f1f1f1;
  color: #808080 !important;
  padding: 5px;
  margin: 50px;
  text-align: center;
  font-size: 14px;
  border: 2px solid gray !important;
  min-width: 100px;
  max-width: 400px;
}
.btn.btn-ctrl:focus {
  box-shadow: none !important;
}
.wrapper-editor {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.panel-editor {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  min-height: 92vh;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
.panel-editor .splitter {
  flex: 0 0 auto;
  width: 18px;
  min-height: 200px;
  cursor: col-resize;
  transition: all .3s ease-in-out;
}
.panel-editor .splitter:hover {
  background-color: #ccc;
  border-radius: 3px;
}
.panel-editor .panel-left {
  flex: 0 0 auto;
  width: 50vw;
  min-width: 5%;
  max-width: 98%;
  background-color: #ccc;
}
.panel-editor .body-source {
  height: 93vh;
  padding: 0;
}
.panel-editor .ctrl {
  display: flex;
}
.panel-editor .btn.btn-ctrl {
  padding: 10px 20px !important;
  margin: 2px;
  border: 1px solid #343a40 !important;
}
.panel-editor .dimension {
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 1.3em;
}
.panel-editor .panel-right {
  flex: 1 1 auto;
  width: 100%;
  background: #fff;
}
.panel-editor .frame {
  width: 100%;
  height: 100%;
  border: none;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.slide-out-bl {
  -webkit-animation: slide-out-bl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-bl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-out-bl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
            transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
            transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
}

.jello {
  -webkit-animation: jello 0.9s both;
  animation: jello 0.9s both;
}

@-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}