		.panel-container {
			display: flex;
			flex-direction: row;
			overflow: hidden;
			height: 100%;
		  min-height: 87vh;
		  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
			xtouch-action: none;
		}
		.splitter {
			flex: 0 0 auto;
			width: 18px;  
			background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #dad5d5;
			min-height: 200px;
			cursor: col-resize;
			border: 1px solid;
    	border-radius: 3px;
		}

		/*SIDE LEFT*/
		.panel-left {
			flex: 0 0 auto;
			/* only manually resize */
			/*padding: 10px;*/
			width: 500px;
			min-height: 200px;
			min-width: 150px;
			max-width: 90%;
			white-space: nowrap;
			/*background: #838383;*/
			color: white;
		}
		.box-header {
			padding: 7px 10px;
			padding-left: 40px;
			position: relative;
			background: #ccc;
		}
		.box-header a {
			display: block;
			font-family: 'Fredoka One', cursive;
			letter-spacing: 2px;
			font-size: 18px;
		}
		.box-header.active a {
    	color: #ccc;
    	text-shadow: -1px -1px 0 royalblue, 1px -1px 0 royalblue, -1px 1px 0 royalblue, 1px 1px 0 royalblue;
		}
		.panel {
			margin-bottom: 0px;
			border-radius: 0px;
		}
		.body-html, .body-css, .body-js {
			height: 78vh;
			padding: 0;
		}
		/*SIDE RIGHT*/
		.panel-right {
			flex: 1 1 auto;
			/* resizable */
			/*padding: 10px;*/
			width: 100%;
			min-height: 200px;
			min-width: 200px;
			background: #fff;
		}
		#frame {
			width: 100%;
			height: 100%;
			border: none;
		}
		.panel-html {
			border-top: 2px solid #E44D26;
			border-left: 2px solid #E44D26;
		}
		.panel-css {
			border-top: 2px solid #264DE4;
			border-left: 2px solid #264DE4;
		}
		.panel-js {
			border-top: 2px solid #F3BE30;
			border-left: 2px solid #F3BE30;
		}
		.panel-container a[aria-expanded=true]{
		  pointer-events: none;
		}
		.header-html.active {
			background: #E44D26;
		}
		.header-css.active {
			background: #264DE4;
		}
		.header-js.active {
			background: #F3BE30;
		}